


@media screen and (max-width: 420px) {
   
    /* LEZIONI */

    #lezioni .row>.left,
    #lezioni .row>.right {
        width: 100%;
        float: none;
        margin-top: 30px;
    }

    #lezioni .row
    {
        background-color: #f2f2cd;
        margin-top: 0;
    }

    #lezioni .row h1
    {  
        margin:0;
    }


    /* STEPS */

    #steps .row>.left,
    #steps .row>.central,
    #steps .row>.right
     {
        float: none;
        width: 100%;
        margin-top: 30px;
    }

    #steps .row
    {
        margin-top: 0;
    }

    .container.grey {
        background-color: transparent;
      }

      /* WHY */

      #why .row {
        background-color: #f2f2cd;
      }

      #why .row h1 {
       padding-top: 30px;
      }
  }